<div id="app">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a href="#"  class="navbar-brand">
      <img src="logo-white.png">
    </a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <!-- <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
      </li> -->
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <nav class="navbar navbar-light bg-dark">
        <form class="form-inline">
          <button class="btn btn-sm btn-outline-success mr-sm-3" type="button"><a href="/register" class="nav-link" routerLink="register">Sign Up</a></button>
          <button class="btn btn-sm btn btn-outline-success" type="button"><a href="/login" class="nav-link" routerLink="login">Login</a></button>
        </form>
      </nav>
      <!-- <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li> -->
      <!-- <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li> -->
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" style="font-weight: 700; font-size: larger; color: #fff;" routerLink="profile">{{ username }}</a>
      </li>
      <button class="btn btn-sm btn btn-outline-danger"  type="button"><a href class="nav-link" (click)="logout()">Log Out</a></button>
      <!-- <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li> -->
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
