<div class="container-fluid">
    <app-sidebar-java></app-sidebar-java>
    <!-- Content Section -->
    <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <p class="mt-4" [innerHTML]="j.content1"></p>
      <p class="mt-4" [innerHTML]="j.content2"></p>
      <img style="width: 700px; margin: auto;" [src]="'http://localhost:2000/java_img/' + j.image">
      <p class="mt-4" [innerHTML]="j.content3"></p>
      <p class="mt-4" [innerHTML]="j.content4"></p>
      <!-- Add your relevant content here -->
    </div>
  </div>
  