<section class="w3l-content-6">
	<!-- /content-6-section -->
	<div class="content-6-mian py-5">
		<div class="container py-lg-5">

			<div class="row title-content">
				<div class="col-lg-4">
					<h3 class="hny-title">What do you want to Learn today?</h3>
				</div>
			</div>

			<div class="content-info-in row mt-md-5 mt-4">
				<div class="col-lg-3 col-md-6 imghrs">
					<a class="imghr" routerLink="/java-tutorial"><img src="assets/images/java.png" class="img-fluid" alt="">
						<div class="details"><span class="title">Java Tutorial</span><span class="info">Learn Java from basic to advance</span></div>
					</a>
				</div>
				<div class="col-lg-3 col-md-6 imghrs">
					<a class="imghr" routerLink="/c-tutorial"><img src="assets/images/C (1).png" class="img-fluid" alt="">
						<div class="details"><span class="title">C Tutorial</span><span class="info">Learn C from basic to advance</span></div>
					</a>
				</div>
				<div class="col-lg-3 col-md-6 imghrs">
					<a class="imghr" href="#"><img src="assets/images/Python (1) (1).jpg" class="img-fluid" alt="">
						<div class="details"><span class="title">Python</span><span class="info">Learn Pyhton from basic to advance</span></div>
					</a>
				</div>
				<div class="col-lg-3 col-md-6 imghrs">
					<a class="imghr" href="#"><img src="assets/images/cpp (1).jpg" class="img-fluid" alt="">
						<div class="details"><span class="title">C++</span><span class="info">Learn C++ from basic to advance</span></div>
					</a>
				</div>
			</div>



		</div>

	</div>
</section>
<app-footer></app-footer>